<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dmitriy.emergencyassistant">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".Activity_See_Task"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:label="Новый сигнал"></activity>

        <activity
            android:name=".Activity_Main"
            android:icon="@drawable/ic_launcher_main"
            android:label="Соц. помощь">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity_NeedySettings"
            android:icon="@drawable/ic_launcher_settings"
            android:label="Настройки">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Needy" />
        <activity android:name=".Activity_DoctorRelative" />
        <activity android:name=".Activity_Login" />
        <activity
            android:name=".Activity_Dialog_Numbers"
            android:label="Номера"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Activity_Dialog_AddNumber"
            android:label="Добавить"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Activity_Dialog_Users"
            android:label="Родственники/врачи"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Activity_Dialog_AddNewUser"
            android:label="Добавить"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Activity_Dialog_AddNote"
            android:label="Новая заметка"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Activity_Dialog_SendedSignal"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Activity_Dialog_StateCheck"
            android:label="Оценка состояния"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name=".Activity_Volunteer" />

        <receiver
            android:name=".Widget_App"
            android:label="Соц. помощь">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/widget_app_metadata"></meta-data>
        </receiver>

        <service android:name=".Service_BackGround"
            android:process=":check_signal_service"/>
    </application>

</manifest>