<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dmitriy.emergencyassistant">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".activities.Dialogs.Lists.ActivityDialogFastUserSelect"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            ></activity>

        <activity android:name=".activities.Dialogs.Lists.ActivityDialogSelectTask"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:label="">
        </activity>
        <activity android:name=".activities.Dialogs.Info.ActivityDialogOrganizationsList"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:label="Список доступных организаций"></activity>
        <activity
            android:name=".activities.Dialogs.Info.ActivityDialogWelcomeMenu"
            android:label="Добро пожаловать!"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activities.Dialogs.Loading.ActivityDialogLoading"
            android:label="Загрузка..."
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name=".activities.based.ActivityAboutApp" />
        <activity
            android:name=".activities.Dialogs.Adds.ActivityDialogAddVolunteer"
            android:label="Добавить соц. работника"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activities.Dialogs.Info.ActivityDialogSeeSocialInfo"
            android:label="Информация о соц. обслуживании"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activities.Dialogs.Info.ActivityDialogSeeTask"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />

        <activity
            android:name=".activities.based.ActivityMain"
            android:icon="@drawable/ic_launcher_main"
            android:label="Соц. помощь"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.based.ActivityCustomerSettings"
            android:label="Настройки"
            >
        </activity>
        <activity android:name=".activities.based.ActivityCustomer" />
        <activity android:name=".activities.based.ActivityLogin" />
        <activity
            android:name=".activities.Dialogs.Lists.ActivityDialogNumbers"
            android:label="Номера"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activities.Dialogs.Adds.ActivityDialogAddNumber"
            android:label="Добавить"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activities.Dialogs.Adds.ActivityDialogAddNewUser"
            android:label="Добавить"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activities.Dialogs.Adds.ActivityDialogAddNote"
            android:label="Новая заметка"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activities.Dialogs.Info.ActivityDialogSendSignal"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".activities.Dialogs.Info.ActivityDialogStateCheck"
            android:label="Оценка состояния"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name=".activities.based.ActivityVolunteer" />

        <receiver
            android:name=".services.WidgetApp"
            android:label="Соц. помощь">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/widget_app_metadata" />
        </receiver>

        <service
            android:name=".services.ServiceAlarmState"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.ServiceBackGround"
            android:enabled="true"
            android:exported="true"
            android:process=":check_signal_service" />
    </application>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>